$main-font: 'Noto Sans', sans-serif;
$font-body: futura-bold, sans-serif;
$font-heading:  SFUfutura-bold, sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$primary-color: #000000;
//$secondary-color: var(--secondary-color);


$base-font-size: 1.6rem;

// Breakpoint
//$xs: 320px;
//$sm: 768px;
//$md: 1024px;
//$lg: 1280px;
//$xl: 1440px;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;

$container-padding: 2rem;
