.slider-block {

    .sliders{

        .swiper-wrapper{
            position: relative;
            overflow: hidden;
            .swiper-slide{
                img {
                    max-height: 80rem;
                    object-fit: cover;

                    @include mediaMaxWidth($sm) {
                        max-height: 45rem;
                    }
                }
            }
        }

        .swiper-pagination-bullets {
            padding: 3rem 0;
            position: relative;

            .swiper-pagination-bullet {
                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
                opacity: 1;
                background: #E6E6E6;
            }

            .swiper-pagination-bullet-active {
                background: #000;
            }

            @include mediaMaxWidth($sm) {
                padding: 1.5rem 0;

                .swiper-pagination-bullet {
                    width: .8rem;
                    height: .8rem;
                }

            }

        }
    }
}
