.philosophy-block {

    .left-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .description-blocks {
        margin-bottom: 5rem;
        max-width: 90%;
    }

    .read-more-blocks {
        margin-bottom: 5rem;
        font-size: 2rem;
    }

    .media {


        &.sm-img {
            padding-bottom: 30%;
            width: 30%;

            @include mediaMaxWidth($lg) {
                display: none;
            }

        }

        &.lg-img {
            padding-bottom: 100%;
            width: 100%;
            height: 100%;

            @include mediaMaxWidth($lg) {
                padding-bottom: 60%;
            }
        }
    }

}

.philosophy-block-2 {
    .media {
        padding-bottom: 24%;
    }
}
