footer.footer {
    padding-top: 5rem;
    padding-bottom: 9rem;

    @include mediaMaxWidth($md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @include mediaMaxWidth($sm) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 5rem;

        @include mediaMaxWidth($sm) {
            justify-content: center;
        }

        .columns {
            margin-bottom: 4.5rem;

            @include mediaMaxWidth($sm) {
                margin-bottom: 2.5rem;
            }

            ul {
                display: flex;
                column-gap: 3rem;

                li {
                    display: flex;
                    align-items: center;

                    img {
                        transition: all .3s;

                        &:hover {
                            opacity: .6;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {

        .info-company {

            @include mediaMaxWidth($xl) {
                margin-bottom: 4.5rem;
            }

            @include mediaMaxWidth($md) {
                margin-bottom: 2.5rem;
            }

            .name {
                margin-bottom: 1rem;
                font-size: 1.5rem;
                text-transform: uppercase;

                @include mediaMaxWidth($md) {
                    font-size: 1.4rem;
                }
            }

            .info {
                margin-bottom: .5rem;
                font-size: 1.6rem;
                @include mediaMaxWidth($md) {
                    font-size: 1.4rem;
                }
            }
        }

        .footer-menu {
            ul {
                column-gap: 7rem;
                column-count: 2;
                @include mediaMaxWidth($xl) {
                    column-gap: 4rem;
                }

                @include mediaMaxWidth($md) {
                    margin-bottom: 2.5rem;
                    column-count: 1;
                }

                li {
                    page-break-inside: avoid;

                    a {
                        font-size: 1.3rem;
                        text-decoration: none;
                        transition: text-decoration 0.3s linear;

                        &:hover {
                            text-decoration: underline;
                            transition: text-decoration 0.3s linear;
                        }
                    }
                }
            }
        }

        .certificate {

            .information {
                margin-bottom: 1.5rem;
                font-size: 1.3rem;
                text-align: end;

                @include mediaMaxWidth($md) {
                    text-align: center;
                }
            }

            .media {
                display: flex;
                justify-content: flex-end;
                column-gap: 3rem;

                @include mediaMaxWidth($md) {
                    justify-content: center;
                }

                img {
                    max-width: 12rem;
                    transition: all .3s;

                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }

}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal-backdrop.fade.show {
    z-index: 99999;
}
.modal.fade {
    display: unset;
    visibility: hidden;
    transition: all .2s linear;
    z-index: 999999;

    .title-post {
        margin-bottom: 5rem;

        @include mediaMaxWidth( $sm ) {
            margin-bottom: 3rem;
        }
    }

    .modal-dialog {
        margin: 0 auto;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .2s linear;

        .modal-content {
            height: 100%;
            background-color: #E6E6E6;
            border-radius: 0;
            overflow-y: auto;

            .modal-header {
                border-bottom: none;
            }
            .modal-body {
                display: flex;
                flex-direction: column;
                //search
                .input-group {
                    padding: 2px 2px 2px 4px;
                    display: flex;
                    background-color: #fff;

                    .clear-icon {
                        padding: 2px 10px;
                        font-size: 10px;
                        color: #fff;
                        background: #000;
                        text-align: center;
                        cursor: pointer;
                        opacity: 0;
                    }

                    input {
                        padding: 0;
                        font-size: 1.6rem;
                        border: none;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .search_btn {
                        margin-right: .8rem;
                        padding: 0 .5rem;
                        color: #808080;
                        font-size: 1.6rem
                    }
                }
                //cart
                .top-body {
                    margin-bottom: 3rem;

                    .title-post {
                        margin-bottom: 3rem;
                    }
                }

                .product-cart {
                    padding-top: 3rem;

                    .item-product-cart {
                        margin-bottom: 5rem;

                        .inner-product-cart {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 2fr 1fr;
                            justify-content: space-between;

                            .product-info {
                                display: flex;
                                column-gap: 1.5rem;

                                .product-thumbnail {
                                    position: relative;

                                    span {
                                        position: absolute;
                                        width: 2rem;
                                        height: 2rem;
                                        top: 0;
                                        right: 0;
                                        transform: translate(50%, -50%);
                                        z-index: 999;

                                        a.remove {
                                            padding: 0 0 4px 0;
                                            width: 2rem;
                                            height: 2rem;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            background: #fff;
                                            font-size: 1.6rem;
                                            font-weight: 500;
                                            color: #E6E6E6!important;
                                            border-radius: 50%;
                                            border: 2px solid #E6E6E6;

                                        }
                                    }

                                    figure.media {
                                        padding-bottom: 100%;
                                        width: 10rem;


                                    }
                                }

                                .product-name {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;

                                    a {
                                        width: 100%;
                                        text-transform: uppercase;
                                    }
                                    .categories {
                                        padding: 0;
                                        ul {
                                            li {
                                                padding: 0 1rem;
                                                font-size: 1.3rem;

                                                &:first-child {
                                                    padding-left: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .product-price-qtt {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: end;
                                align-items: center;

                                .product-quantity {
                                    text-align: center;

                                    .qib-container {
                                        display: flex;
                                        align-items: center;

                                        button.qib-button {
                                            background: #fff !important;
                                            color: #000 !important;
                                            border: none !important;
                                            border-style: none !important;
                                        }
                                        .quantity input {
                                            height: auto !important;
                                            border-style: none !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .checkout-cart {
                    margin-top: auto;
                    padding-top: 3rem;

                    .subtotal {
                        margin-bottom: 1.5rem;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    .wc-proceed-to-checkout {
                        text-align: center;

                        .checkout-button {
                            margin-bottom: 1.5rem;
                            padding: 1.5rem;
                            display: block;
                            background: #000;
                            color: #fff;
                            border: 2px solid #000;
                            text-transform: uppercase;

                            &:hover {
                                background: transparent;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }

    &.show {
        visibility: visible;
        .modal-dialog {
            transform: translateX(0);
        }
    }

}

#button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.4);
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}
