section {
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include mediaMaxWidth($md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @include mediaMaxWidth($sm) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .row > * {
        padding-right: calc(var(--bs-gutter-x) * 1);
        padding-left: calc(var(--bs-gutter-x) * 1);
    }

    .title-post {

        &:hover {
            color: #000;
            text-decoration: underline;
        }

        &.fs-43 {
            font-size: 4.3rem;
        }
        &.fs-30 {
            font-size: 2.5rem;

            @include mediaMaxWidth($md) {
                font-size: 2.8rem;
            }

            @include mediaMaxWidth($sm) {
                font-size: 2.4rem;
            }
        }
        &.fs-25 {}
        &.fs-20 {}

    }
}

.title-link {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .title-blocks {
        margin-bottom: 2.5rem;
    }

    .read-more-blocks {
        margin-bottom: 1.8em;

        @include mediaMaxWidth($sm) {
            margin-bottom: 1.5em;
        }

        @include mediaMaxWidth($xs) {
            margin-bottom: 1.65em;
        }

    }

}

.title-post {
    text-transform: uppercase;
}

.title-blocks {
    margin-bottom: 3.5rem;
    font-family: $font-heading;
    font-size: 6rem;
    text-transform: uppercase;

    @include mediaMaxWidth($lg) {
        font-size: 4rem;
    }

    @include mediaMaxWidth($sm) {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
}

.description-blocks {
    font-size: 1.6rem;
}

.read-more-blocks {
    margin-bottom: 2.3em;
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;

    @include mediaMaxWidth($sm) {
        margin-bottom: 1.1em;
    }

    @include mediaMaxWidth($xs) {
        margin-bottom: 1.3em;
        font-size: 1.4rem;
    }
}

.up-hover {
    position: relative;
    width: fit-content;
    height: fit-content;
    color: $primary-color;
    transition: 0.5s;

    &:before {
        content: '';
        background-color: $primary-color;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    &:hover{
        color: #fff;
        &::before {
            bottom: 0;
            height: 100%;
        }
    }
}

.underline-hover {
    //position: relative;
    //display: revert;
    //line-height: 1.2em;
    //color: $primary-color;
    //transition: 0.5s;
    //
    //&:after {
    //    position: absolute;
    //    content: "";
    //    width: 100%;
    //    height: .1rem;
    //    left: 0;
    //    bottom: -.2rem;
    //    background: $primary-color;
    //    transition: transform 0.5s;
    //    transform: scaleX(0);
    //    transform-origin: right;
    //}
    //
    //&:hover:after {
    //    transform: scaleX(1);
    //    transform-origin: left;
    //}
    &:hover {
        text-decoration: underline;
    }

}

.text-shadow {
    margin: 0 4px;
    text-shadow: -.25px -.25px 0 transparent,
    .25px .25px transparent;
    transition: all .25s linear;

    &:hover {
        text-shadow: -.25px -.25px 0 black,
        .25px .25px black;
    }
}

figure.media {
    width: 100%;
    position: relative;
    overflow: hidden;
    clear: both;

    img {
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: all .5s;
    }
}

.categories {
    padding: 2.2rem 0;

    @include mediaMaxWidth($md) {
        padding: 1rem 0;
    }

    ul {
        display: flex;

        li {
            padding: 0 4rem;
            position: relative;
            font-size: 1.6rem;
            text-transform: uppercase;

            @include mediaMaxWidth($md) {
                padding: 0 2rem;
            }

            @include mediaMaxWidth($sm) {
                font-size: 1.5rem;
            }

            &:first-child {
                padding-left: 0;
                &:after {
                    content: none;
                }
            }

            &:last-child {
                padding-right: 0;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: .2rem;
                height: 55%;
                background-color: #000;
            }
        }
    }
}

.border-top-1px {
    border-top: 1px solid #000;
}
